.container {
    height: 100vh;
    width: 100%;

    display: flex;
}

.main {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background: #5965E0 url('../../../public/Simbolo.svg') fixed no-repeat 25% center;
    position: relative;
    
}

.main > div {
    position: absolute;
    left: 50%;
}

.symbol {
    overflow: hidden;

    display: flex;
    justify-content: flex-end;
}

.loginContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 6.25rem;
}

.loginContainer .loginLogo {
    margin-bottom: 6.25rem;
}

.loginContainer h2 {
    font-size: 2.25rem;
    color: var(--white);
    margin-bottom: 2.5rem;
}

.loginContainer .text {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
}

.loginContainer .text p {
    padding-left: 1.5rem;
    font-size: 1.1rem;
    line-height: 1.7rem;
    color: var(--text-highlight);
}

.inputGroup {
    height: 5rem;
    display: flex;
}

.inputGroup input {
    border: none;
    border-radius: 5px 0 0 5px;
    background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
    /*width: 21.25rem;*/
    padding: 0 1.8rem;
    color: var(--white);
    font-size: 1.25rem;
    line-height: 2.1rem;
}

.inputGroup input::placeholder {
    color: var(--text-highlight);
}

.inputGroup input:hover,
.inputGroup input:active {
    box-sizing: border-box;
    border: 0.15rem solid #414AA3;
    padding-left: calc(1.8rem - 0.15rem);
}

.inputGroup .button {
    min-width: 5rem;
    background: var(--blue-dark);
    border-radius: 0 5px 5px 0;
    border: none;
}

.inputGroup .button.active {
    background: var(--green);
}

@media(max-width: 1080px) {
    .main > div {
        left: 25%;
        padding-right: 2.5rem;
    }
}

@media(max-width: 720px) {
    .container {
        overflow: hidden;
    }

    .main {
        align-items: center;
    }

    .loginLogo img {
        max-width: 100%;
    }

    .main > div {
        left: 0;
        width: 100%;
        padding: 0 2.5rem;
        margin: 0 auto;
    }

    .inputGroup {
        max-width: 100%;
        
    }
}